<h3>About Flock Local</h3>
<p>Flock Local matches volunteers with local activities.</p>
<p>Volunteering often requires an ongoing commitment. But many people who want to do good just don’t have the time to commit 
to a long-term project. And sometimes there is an urgent need for volunteers and no easy way to get organized. 
Some activities take forever to complete.</p>
<p>Flock Local was created to fill these gaps. Flock Local matches short-term volunteers with one-off activities. 
From cleaning a garage to painting a shelter, Flock Local makes it easy for you to get involved and help make a quick difference in 
your community.</p>

<h3>Flock Local for Volunteers</h3>
<p><strong>Don’t volunteer – Flock!</strong> Flocking is opportunistic volunteering. 
YOU decide when you’re available and which projects you’d like to help. Nothing requires an ongoing commitment – 
just a bit of time to pitch in and make a difference. Contribute on your own or with friends and family and see just 
how quickly you can help a neighbour or solve a local problem.</p>
<p>Start flocking! <a href='/'>Click here to search for activities</a> that meet your interests and schedule.</p>

<h3>Flock Local for Your Activity</h3>
<p>Flock Local helps you find a flock of volunteers to pitch in to your project. Whether you have an idea to clean a local schoolyard, 
paint a shelter, or create a garden in your backyard, Flock Local lets you find the help you need.</p>
<p>To create an event and begin your search for a Flock, <a href='/events/new/'>click here</a>. 

