<h3><a href='#FAQ' rel='what'>What is Flock Local?</a></h3>
<p id='what'>Flock Local matches volunteers with local activities. 
We make it easy for you to lend a hand and make a difference in your community. Fast.</p>

<h3><a href='#FAQ' rel='activity'>Who can volunteer for a Flock Activity?</a></h3>
<p id='activity'>Anyone! If you have a bit of time to spare – anywhere from an hour to a day – you can get involved in a local activity.</p>

<h3><a href='#FAQ' rel='hours'>Am I committing myself to long hours?</a></h3>
<p id='hours'>No. You can join an activity for an hour and never do anything again. The length of commitment is totally up to you.</p>

<h3><a href='#FAQ' rel='happening'>How will I know what activities are happening?</a></h3>
<p id='happening'>You can opt-in to receive an email, sms or tweet if an activity is happening nearby (there is no obligation to respond). 
Or you can just visit the website and search what’s happening whenever you’re ready to Flock.</p>

<h3><a href='#FAQ' rel='join'>How do I join an activity?</a></h3>
<p id='join'>Just search the listing of activities for something that matches your skills, interests and availability. 
RSVP to the activity host to let them know if you plan to attend.</p>

<h3><a href='#FAQ' rel='create'>How do I create an activity?</a></h3>
<p id='create'>To create an activity you’ll need to build a profile. The profile helps you establish an identity on Flock Local 
and to begin posting activities. You can indicate the time, place, and the type of activity you are planning, and then open it up 
to potential volunteers. <a href='/events/new/'>Click here to get started</a>.</p>

<h3><a href='#FAQ' rel='appropriate'>What kinds of activities are appropriate for Flock Local?</a></h3>
<p id='appropriate'>The activity must be short-term – anywhere from an hour to a weekend. It should be a one-off activity 
rather than an ongoing program or commitment. Other than that, the activity can be just about anything. But it should be something 
that will make a positive difference in your community or which will really help out someone.</p>

<h3><a href='#FAQ' rel='behind'>Who is behind Flock Local?</a></h3>
<p id='behind'>Flock Local was created by a Flock of volunteers in 2009. To read the story of the First Flock and their vision, 
<a href='/flock/'>click here</a>.</p>

