<h3>Story of Flock Local</h3>
<p><img src='http://s3.amazonaws.com/twitpic/photos/large/13268348.jpg?AWSAccessKeyId=0ZRYP5X5F6FSMBCCSE82&Expires=1245575923&Signature=P48kNoctq7YzhI9HzU4kfVyPO3g%3D' alt='Need better' /></p>
<p>The story of Flock Local is really a story of The First Flock. 
In June 2009 a group of activists, hackers, visionaries and do-gooders assembled in Glasgow, Scotland as part of Social Innovation Camp. 
Social Innovation Camp is a three-day event designed to turn back-of-the-envelope ideas into full-fledged projects ready for launch.</p>
<p>The First Flock was a group of volunteers who gathered at Social Innovation Camp with one driving question in mind: 
What if we could direct the energy of a flash mob into activities with a social purpose? Their answer? Flock Local.</p>
<p>Over 24 hours this Flock imagined and built Flock Local, a website designed to match volunteers with local activities. 
Their vision has been to reimagine volunteering as a sudden act of “do goodery” that helps neighbours and local communities in immediate need.</p> 

