<h3>Hooray Flock Local!</h3>
<p>I work with Glasgow Wood Recycling and we’ve been working forever on building and maintaining a garden plot at our home base. But due to wavering volunteer commitment (it’s just the way things go) the flower beds have fallen into a state of disrepair and has been looking increasingly sad and desperate these past few months.</p>
<p>On June 20 I decided to put out a call on Flock Local to see if we could get some volunteers to help with a quick paint up of the flower beds. We also had a lorry full of wood that needed emptying so we could begin to recycle it into eco gifts for resale.<p>
<h3>What a response!</h3>
<p><img src='http://s3.amazonaws.com/twitpic/photos/full/13266009.jpg?AWSAccessKeyId=0ZRYP5X5F6FSMBCCSE82&Expires=1245579639&Signature=4zk%2FjJZgkh2jGZ2ADiAasjtFYqc%3D' />
<p>We had 15 people turn out to pitch in. In less than two hours we accomplished what could have taken weeks of organizing. We cleaned up the site, painted the flower beds and emptied a truck. The response was truly amazing.</p>
<p>Thank you Flock Local!</p>

