<p>Please read these Terms of Use before using this site. By using this site, you agree to be bound by these Terms and the related Privacy Policy. If you cannot so agree, please do not use the site.</p>

<p>The Terms and the Policy may be revised from time to time and the latest version of each will be posted on these pages. Whilst reasonable efforts will be made to notify you of major revisions, you should check back here periodically, as your continued use of the site constitutes your acceptance of the up to date version of these Terms. </p>

<p>You must be at least 16 years old to use this site, and you are solely responsible for any activity that is conducted under your screen name. </p>
 

<h3>Ownership, Copyright & Trademarks </h3>
<p>All text, images, logos, graphics, sound files, data and any other content contained on the site and the selection and arrangement thereof are owned by FlockLocal under UK copyright law. 

<p>Reference to any other product or service by name or otherwise does not constitute or imply any endorsement of that product or service. </p>

<h3>Limited Licence </h3>

<p>FlockLocal authorises you to access and to use the site to view, copy and print portions of the content, without modifying it, for your personal, non-commercial use. Any copyright or trademark notices attached to such extracts must not be removed. 
Pages on other sites that refer to or incorporate data from FlockLocal must include a link back to FlockLocal. 
Your use of the site must not infringe the rights of any third party and be in accordance with law. You indemnify FlockLocal against any liability arising to any third party in breach of this condition. </p>

<p>You may link to FlockLocal from another site, provided that FlockLocal is not thereby portrayed in a misleading or derogatory manner, and that the linking site does not contain illegal, adult or offensive material. Our prior permission is required to use the FlockLocal logo or to frame any page on FlockLocal within any third party site. </p>

<p>We include links on FlockLocal to third-party sites and services, such as but not limited to advertisers, and we accept no responsibility for the quality, content, or any other matter in connection with these. </p>

<p>If you use any parts of the site where you can engage with and respond to other uses, such as in a discussion forum, you are solely responsible for your use of these areas and do so at your own risk. You must not post or upload any information or content that is unlawful, defamatory, pornographic, infringes the rights of third parties such as intellectual property rights or is otherwise objectionable. FlockLocal reserves the right to screen all contributions and not all content posted may be displayed or used on the site. FlockLocal may de-register or block users whose use of the site breaches any of these conditions. </p>

<p>If you have a proposal to use the site content outside these licence terms, please contact us at legal[@]FlockLocal.net (remove the square brackets). </p>
 

<h3>User-generated content </h3>
<p>By posting or contributing content to the site you grant FlockLocal a non-exclusive transferable permanent free licence to use, reproduce, publish and adapt such content on a worldwide basis, in any medium, and for any purpose. FlockLocal shall not be required to attribute authorship to you in relation to such content. You warrant that you own and control all the right to the content that you post, that it is accurate and not misleading, and that the posting does not contravene any of these site Terms. If you cease using FlockLocal, FlockLocal’s licence to use your content persists, unless you specifically delete it. </p>
 

<h3>Third Party Copyright Owners </h3>
<p>Anyone who believes their copyright or other intellectual property has been posted on FlockLocal without the proper permission should please write to us at legal[@]FlockLocal (remove the square brackets), including as much information as possible to assist us in dealing with your claim.  </p>
 
<h3>Availability of FlockLocal </h3>
<p>We reserve the right to modify suspend or terminate the FlockLocal service at any time. </p>

<h3>Registration Data </h3>
<p>You agree that the data you provide will be accurate, current and complete and to maintain the security of your password.</p> 
 

<h3>Warranty Disclaimer </h3>
<p>FlockLocal makes no warranties express or implied as to the information and content displayed on the site. </p> 
 

<h3>Limitation of Liability </h3>
<p>By using the site you waive any claims against FlockLocal such as but not limited to arising from any alleged inaccuracies, and you use the site always at your own risk. In any event the total liability of FlockLocal to you shall not exceed the consideration, if any, paid to FlockLocal to access or use the site.</p>

<p>FlockLocal.net is a tool to assist people in organising volunteer events and FlockLocal is not responsible for any claims arising from an event and you should use common sense it deciding which events to attend. </p>

<h3>Severability </h3>

<p>If any part of these Terms shall be determined unenforceable, such other parts that remain shall be unaffected and remain in force.</p>

