<div id='metaFooter' class='container_12'>
    <ul class='grid_4'>
      <li><a href='/about/'>About</a></li>
      <li><a href='/stories/'>Success Stories</a></li>
      <li><a href='/flock/'>First Flock</a></li>
      <li><a href='/faq/'>FAQ</a></li>
    </ul>


    <dl  class='grid_8'>
      <dt><a href='/flock/'><img src='#' alt='Sicamp.org logo' /></a></dt>
      <dd><h4><a href='/flock/'>FlockLocal &amp; Sicamp</a></h4></dd>
      <dd>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Quisque viverra nunc eu sapien volutpat posuere. Duis sit amet scelerisque tortor.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Quisque viverra nunc eu sapien volutpat posuere. Duis sit amet scelerisque tortor.</p>
        </dd>

      </dl>
</div> <!-- END: #metaFooter -->


