<div id='metaFooter' class='container_12'>
  <ul class='grid_3'>
    <li><a href='/about/'>About</a></li>
    <li><a href='/stories/'>Success Stories</a></li>
    <li><a href='/flock/'>First Flock</a></li>
    <li class="last"><a href='/faq/'>FAQ</a></li>
  </ul>

  <dl  class='grid_9'>
    <dt><a href='/flock/'><img src='/images/silogo.png' alt='Sicamp.org logo' /></a></dt>

    <dd><h4><a href='/flock/'>FlockLocal &amp; Sicamp</a></h4></dd>
    <dd>
    The First Flock was a group of volunteers who gathered at Social Innovation Camp with one driving question in mind: What if we could direct the energy of a flash mob into activities with a social purpose? Their answer? Flock Local. <%= link_to('(read more)',:first_flock) %>
    </dd>
  </dl>
<div class="clear"></div>
</div> <!-- END: #metaFooter -->

<ul id='footer' class='container_12 inline-list'>
<li>Copyright&#169; 2009 <a href='#'>FlockLocal</a></li>

<li><a href='/terms/'>Terms &amp; Conditions</a></li>

<li><a href='/privacy/'>Privacy</a></li>
</ul> <!-- END: #footer -->


