  <div id='header' class='container_12'>
    <h1 class='grid_7'><a href='/'>FlockLocal</a></h1>

      <ul class='grid_5'>
        <li><a href='/about/'>About</a></li>
        <li><a href='/stories/'>Success Stories</a></li>
        <li><a href='/flock/'>First Flock</a></li>

        <li><a href='/faq/'>FAQ</a></li>
      </ul>
  </div> <!-- END: #header -->

