  <div id='header' class='container_12'>
    <h1 class='grid_5'><a href='/'>FlockLocal</a></h1>

      <ul class='grid_7 inline-list nav'>
        <li><a href='/about/'>About</a></li>
        <li><a href='/success_stories/'>Success Stories</a></li>
        <li><a href='/first_flock/'>First Flock</a></li>

        <li><a href='/faq/'>FAQ</a></li>
      </ul>
      <%= render :partial => '/users/user_bar' %> 
      <div class="clear"></div>
  </div> <!-- END: #header -->

