  <div id='header' class='container_12'>
    <h1 class='grid_5'><a href='/'>FlockLocal</a></h1>

      <ul class='grid_7 inline-list nav'>
        <li><a href='/about/'>About</a></li>
        <li><a href='/success_stories/'>Success Stories</a></li>
        <li><a href='/first_flock/'>First Flock</a></li>

        <li><a href='/faq/'>FAQ</a></li>
      </ul>
      <%= render :partial => '/users/user_bar' %> 
      <div class="clear"></div>
  </div> <!-- END: #header -->

	<div id='welcome' class='container_12'>
		<h2 class='grid_12'><a href='/about/'>Flock Local matches volunteers with local activities. We make it easy for you to lend a hand and make a difference in your community. Fast. (read more)</a></h2>

		<div class="clear"></div>
	</div>	
  
