<div id='additionalInfo' class='grid_4'>
<a id="createBtn" href="/events/new" title="Create a new Event"><span>Create Event</span></a>
<div class="featured successStory">
<img src="{event_owner_avatar_url}" alt="{event_owner_name}" />
<h4>Event title</h4>

    <p>{Event Excerpt}</p>
    <a href="{event-url}/" alt="{Event Title}" />
</div>

<!-- Sidebar (event) -->
<div id="volunteer">
<a id="volunteerBtn" href="" title=""><span>Volunteer</span></a>
</div>
<ul id="volunteers">
<li><img src="{user_avatar_url}" alt="{user_name}" />{user_name}</li>
</ul>

<form style='margin:20px;' action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="donate@flocklocal.net">
<input type="hidden" name="lc" value="GB">
<input type="hidden" name="amount" value="10.00">
<input type="hidden" name="currency_code" value="GBP">
<input type="hidden" name="currency_code" value="GBP">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<!-- AddThis Button BEGIN -->
<p style='margin: 20px;'><a href="http://www.addthis.com/bookmark.php?v=250" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a3e109e7cf98155"></script></p>
<!-- AddThis Button END -->



</div> <!-- END: #additionalInfo -->
<div class="clear"></div>

