<div id='additionalInfo' class='grid_4'>
<a id="createBtn" href="/events/add" title="Create a new Event"><span>Create Event</span></a>
<div class="featured successStory">
<img src="{event_owner_avatar_url}" alt="{event_owner_name}" />
<h4>Event title</h4>

    <p>{Event Excerpt}</p>
    <a href="{event-url}/" alt="{Event Title}" />
</div>

<!-- Sidebar (event) -->
<div id="volunteer">
<a id="volunteerBtn" href="" title=""><span>Volunteer</span></a>
</div>
<ul id="volunteers">
<li><img src="{user_avatar_url}" alt="{user_name}" />{user_name}</li>
</ul>

</div> <!-- END: #additionalInfo -->
<div class="clear"></div>

